<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	</head>
<body>
	<h1>{{h}}</h1>
	<hr>
	<h2>Edit Movie Data:</h2>
	<form action="/save" method="POST">
	{% for movie in movies %}
	<table class="edit">
	<tr><td>Unique Object ID</td><td>{{ movie['_id'] }}</td>
		<input type="text" name="_id" value="{{ movie['_id'] }}" hidden>
	</tr>
	<tr><td>Movie Name</td><td>
		<input type="text" name="name" value="{{ movie['name'] }}" placeholder="{{ movie['name'] }}"></td>
	</tr>
	<tr><td>Movie Description</td><td>
		<input type="text" name="desc" value="{{ movie['desc'] }}" placeholder="{{ movie['desc'] }}"></td>
	</tr>
	<tr><td>Release Date</td><td>
		<input type="text" name="date" value="{{ movie['date'] }}" placeholder="{{ movie['date'] }}"></td>
	</tr>
	</table>
	{% endfor %}
	<br/>
	<button type="submit">Save Changes</button>
	<br/>
	</form>
	<hr>
	<a href="/">Return to Movie List</a>
</body>
</html>
