<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	</head>
<body>
	<h1>{{h}}</h1>
	<hr>
	{% if movies[0] %}
	<h2>Search Result: Movie List</h2>
	<table>
	<tr id="row">
		<th class="name">Movie Name</th>
		<th class="desc">Movie Description</th>
		<th class="date">Release Date</th>
		<th class="func1">Remove</th>
	</tr>
	{% for movie in movies %}
	<tr class="datas">
		<td class="name">{{ movie["name"] }}</td>
		<td class="desc">{{ movie["desc"] }}</td>
		<td class="date">{{ movie["date"] }}</td>
		<td class="func1" align="center"><a href="./remove?_id={{ movie['_id'] }}">
			<button type="submit">Remove</button></a></td>
	</tr>
	{% endfor %}
	{% else %}
		<h4>No Result Found.</h4>
	{% endif %}
	</table>
	<hr>
	<a href="/">Return to Movie List</a>
</body>
</html>
